/*
Theme Name:  Gbaby Landing Pag
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Gbaby Landing Pag.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Gbaby Landing Pag
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
	
  	font-family: 'Lato', sans-serif;
    background: #edeefd;
}

/* TOPO */
	.topo{
		padding-top: 18px;
		padding-bottom: 15px;
		background: #fff;
	}
		.topo .logo{
		
		}
			.topo .logo img{
				display: block;
				margin: 0 auto;
			}
/* PÁGINA INICIAL */
	.pg-inicial{
		background: #edeefd;
		padding-top: 40px;
	}
		.pg-inicial figure{
		
		}
			.pg-inicial figure img{
				margin-bottom: 40px;
				display: block;
			}
		.pg-inicial article{
			display: block;
			max-width: 525px;
			line-height: 34px;
		}
			.pg-inicial article p{
				color: #4f57a6;
				font-size: 19px;
				margin-bottom: 40px;
				font-weight: 700;
			}
			.pg-inicial article a{
				display: block;
				width: 100%;
				max-width: 280px;
				height: 55px;
				color: #fff;
				background: #868bc4;
				text-align: center;
				border-radius: 10px;
				font-size: 23px;
				line-height: 57px;
				margin: 0 auto;
				text-decoration: none;
				font-weight: 700;
				border: solid 1px transparent;
			}
				.pg-inicial article a:hover{
					background: transparent;
					color: #868bc4;
					border-color: #868bc4;
				}
		.pg-inicial .formulario{
			background: #fff;
			border-radius: 20px;
			max-width: 376px;
		    padding: 40px 25px;
		}
			.pg-inicial .formulario .form{
				
			}
				.pg-inicial .formulario .form label{
					display: block;
					color: #4f57a6;
					max-width: 320px;
					margin: 0 auto 5px;
					padding: 0 10px 0 0;
					font-weight: 700;
					font-size: 17px;
				}
				.pg-inicial .formulario .form .col-xs-6{
					color: #4f57a6;
					
				}
				.pg-inicial .formulario .form input{
					outline: none;
					margin-right: 5px;
				}
				.pg-inicial .formulario .form input[type="text"]{
					height: 35px;
					width: 100%;
					display: block;
					border: none;
					border-radius: 5px;
					background: #edeefd;
					margin: 0 auto;
					outline: none;
					margin-bottom: 20px;
					padding: 10px;
				    color: #4f57a6;
				}
				.pg-inicial .formulario .form input[type="text"]::-webkit-input-placeholder { /* Chrome, Safari, Opera */
			      color: #4f57a6;
				}
				 
				.pg-inicial .formulario .form input[type="text"]:-moz-placeholder { /* Firefox 18- */
			      color: #4f57a6;
				  
				}
				 
				.pg-inicial .formulario .form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
			      color: #4f57a6;
				 
				}
				 
				.pg-inicial .formulario .form input[type="text"]:-ms-input-placeholder { /* IE10+ */ 
			      color: #4f57a6; 
				}
				.pg-inicial .formulario .form .ckeck{
					position: relative;
					margin-top: 5px;
					font-weight: 800;
				}
				.pg-inicial .formulario .form input[type="checkbox"]{
					position: relative;
					z-index: 999;
					opacity: 0;
					width: 22px;
				}
				.pg-inicial .formulario .form span{
					display: block;
					width: 20px;
					height: 20px;
					background-size: cover!important;
					background-position: center!important;
					position: absolute;
					top: 0;
					background: #edeefd;
					border-radius: 5px;
				}
				.pg-inicial .formulario .form input[type="checkbox"]:checked  + span{
					background: url(../img/icone.PNG);
					
				}	
				.pg-inicial .formulario .form input[type="submit"]{
					height: 40px;
					width: 135px;
					display: block;
				    margin: 15px auto 0;
					text-transform: uppercase;
					color: #fff;
					background: #f9b963;
					text-align: center;
					border: none;
					border-radius: 10px;
					font-size: 18px;
					font-weight: 900;

				}
			.pg-inicial  .ornamento{
				display: block;
			    margin-top: 40px;
			}	
/* @MEDIAS */
	@media(max-width: 991px){
		.pg-inicial figure img{
			display: block;
			width: 100%;
			max-width: 519px;
		}
		.pg-inicial figure{
			padding: 10px;
		}
		.pg-inicial article{
			padding: 10px;
		}
		.container{
			width: 100%;
		}
		.pg-inicial .formulario{
			margin: 0 auto;
		}
		.pg-inicial .ornamento{
			margin: 40px auto 0;
			display: block;
			max-width: 359px;
			width: 100%;
		}
	}
	@media(max-width: 768px){
		.pg-inicial figure img{
			margin: 0 auto;
		}
		.pg-inicial article{
			max-width: 100%;
		}
		.pg-inicial article p{
			text-align: center;
		}
		.pg-inicial .formulario {
		    margin: 60px auto 0;
			max-width: 500px;
		}
	}